#campaign-title {
    border-bottom: 2px solid white;
    padding: 10px;
}

.campaigns-card {
    color:#000000 !important;
    background-color: rgb(201, 201, 201) !important;
    width: 90% !important;
    border-radius: 3px !important;
    padding-inline: 20px;
    padding-top: 10px;
}

.kebab-menu {
    font-size: 804px; /* Increase the size of the dots */
    padding: 0; /* Remove padding for better centering */
    display: flex;
    flex-direction: column;
    width: 40px; /* Adjust width for better centering */
    height: 40px; /* Adjust height for better centering */
    border: none;
    background-color: transparent;
}

.kebab-menu:focus {
    box-shadow: none;
    border: none;
}

.campaign-link {
    color: inherit !important; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes the underline */
}

.campaign-link:hover {
    color: inherit !important; /* Keeps the color the same on hover */
    text-decoration: none; /* Ensures no underline on hover */
}
